<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home-my store</title>
</head>
<body>
	<h1> welcome to my store! </h1>
	<p> here we sale clothes!
	you can find here t-shirts, pants and shorts, and anything else you need :) </p>

	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDEFe8wPW4i2dNeJjBypb5efzHmSrmRpue4A&usqp=CAU" width="400"> 

	<img src="https://img.mytheresa.com/1088/1088/66/jpeg/catalog/product/44/P00466297.jpg" width="400">

	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkJyiCc_zDDe3Ff98ABlKemCBjisV0B-N9Dg&usqp=CAU" width="400">

<div>
 <a href="product.html">product <br />	
</div> 


<div>
 <a href="cart.html"> see my cart <br />	
</div> 


</body>
</html>